body{
    background-color: bisque;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: rgb(40, 12, 227);
    margin-top: 20px;
}
form{
    margin: 30px auto;
    width:50%;
    background-color: oldlace;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}
label{
    display: block;
    color: darkslateblue;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: block;
}
button {
    background-color: #3b5998;
    width: 48%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: navy;
}

button[type="reset"] {
    background-color: gray;
}

button[type="reset"]:hover {
    background-color: darkgray;
}