body{
    background-color: rgb(197, 149, 165);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

.container{
    background-color:#fff;
    max-width: 800px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: rgb(87, 11, 36);
}

input[type="text"], 
textarea, 
input[type="number"], 
input[type="url"]{
    font-size: 12px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid p;
    border-radius: 5px;
}

.dropdown{
    font-size: 12px;
    width: 102%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid p;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: rgb(87, 11, 36);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn{
    text-align: center;
}

button:hover{
    background-color: brown;
}