body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

.header{
  background-color: rgb(115, 22, 208);
  color:white;
  padding: 20px;
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(119, 104, 132);
}

ul li{
  float: left;
}

ul li a{
  display: inline-block;
  padding: 12px;
  color:brown;
  text-align: center;
  text-decoration: none;
}

ul li a:hover{
  background-color: gray;
}

.dropdown-content{
  background-color: aqua;
  display: none;
  position: absolute;

}

.dropdown-content a{
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content{
      display: block;
}

.float-right-btn{
  float: right;
}
.cls h2{
  text-align: center;
}

.cls p{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.footer{
  background-color: rgb(115, 22, 208);
  color:white;
  padding: 15px;
  text-align: center;
}